body {
  margin: 0;
  font-family: 'Trebuchet MS';
  font-weight: 600;
  background-color: rgb(220, 220, 220);
  padding-right: 0px !important;
}

button, a {
    cursor: pointer;
}

@font-face {
    font-family: 'Pokemon Hollow';
    src: local('Pokemon Hollow'),
    url('assets/fonts/pokemonhollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: local('Pokemon Solid'),
    url('assets/fonts/pokemonsolid.ttf') format('truetype');
}

@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'),
    url('assets/fonts/pressstart2p.ttf') format('truetype');
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 5px;
    }
  }

  #menu-appbar .MuiMenu-paper{
      background-color: whitesmoke;
      border: 1px solid #000;
      top: 10vh !important;
  }

  #menu-appbar .MuiMenu-list{
      width: auto !important;
      padding-right: 0px !important;
  }
